.card-image {
  background-size: cover;
  width: 100%;
  margin: 10px auto;
  background-position: center;
  height: 180px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
}

.card-rating {
    width: auto;
    padding: 0px 4px;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 24px;
    border: solid 1px black;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: green;
    z-index: 3
}

a:hover  {
  text-decoration: none;
   color: white;
   transform: scale(1.1);
   transition: 0.1s;
}
