@import "bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 10px;
} 

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
  width: 100%;
}


@media(max-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media(max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}