<h1>Image</h1>

<% if @image.path == "" %>
  <%= cl_image_tag @image.photo.key, style: "width= 400px" %>
<% else %>
  <img src=" <%= @image.path %>" alt="<% @image.title %>" width="400px">
<% end %>
<p> <%= @image.title %> </p>
<%= link_to "Back to the list", images_path %>